.jobCard {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    align-items: stretch;
    min-height: 45vh;
    flex-wrap: wrap;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.jobCardImage {
    max-width: 100%;
    max-height: 45vh;
    flex: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.jobCardFlexChild {
    flex: 0 0 50%;
    justify-self: center;
}

.imgContainer {
    position: relative;
}

.matchingSkills {
    color: #28a146;
}

.requiredSkills {
    color: #dd4d4d;
}