.sticky-wrapper {
    position: relative;
    height: 100px; /* We need to change this value */
}
  
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}