@import url('https://fonts.googleapis.com/css?family=Biryani');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text');

.adventPro {
    font-family: 'Advent Pro';
}

.biryani {
    font-family: 'Biryani';
}

.bellotaText {
    font-family: 'Bellota Text';
}

.title {
    color: #2D564F;
    text-align: center;
    font-size: 8vh;
    margin: 0;
}

.header2 {
    color: #79A39B;
    text-align: center;
    font-weight: lighter;
}