.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #D5F1FD;
  height: 100%;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}